# third-party libraries
requests
requests_mock
aiohttp
asyncio
aiofiles
python-dotenv
pytest
pydantic
deltalake
pyarrow
pandas
six



# Delta Version for pySpark
delta-spark==3.2

# For testing
pytest
pytest-cov

## Development tools
# linting and formatting
ruff
# type checking
mypy
